.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 57px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  left: 1px;
  top: 1px;
}

.switch__slider-C {
  right: 1px;
  top: 1px;
}

.switch__active {
  color: white;
}

.switch__temp {
  position: absolute;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.switch__temp-F {
  top: -20px;
  left: 8px;
}

.switch__temp-C {
  top: -20px;
  right: 8px;
}
