.weather {
  position: relative;
}

.weather_image {
  width: 100%;
  display: block;
}

.weather_info {
  position: absolute;
  top: 50%;
  left: 4.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
}
