.modal__content-item {
  position: relative;
  padding: 0;
}

.modal__close_button-item {
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 1;

  background-color: transparent;
}

.modal__close_button-image {
  height: 20px;
  width: 20px;
}

.item__modal_image {
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.item__modal_text_container {
  position: relative;
  margin: 20px 32px 32px;
  user-select: none;
}

.item__modal_name {
  margin-bottom: 12px;
}

.item__modal_delete_button {
  position: absolute;
  top: 0;
  right: 0;
  color: orange;
  cursor: pointer;
  background-color: white;
  border: none;
}
