.clothes__section_text-container {
  margin-left: 175px;
  margin-bottom: 16px;
  display: flex;
}

.clothes__section-title {
  margin: 0;
  margin-right: 20px;
}

.clothes__section-add_button {
  margin: 0;
  padding: 0;
  background-color: white;
  border: none;
  color: grey;
  cursor: pointer;
}

.clothes__section-add_button:hover {
  color: black;
}

.clothes__section-card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}
